---
import AppShell from "../layouts/AppShell.astro";
import CvPageHeader from "../components/cv/CvPageHeader.astro";
import CvStatusLines from "../components/cv/CvStatusLines.astro";
import CvEditorPanel from "../components/cv/CvEditorPanel.astro";
import CvDocumentHost from "../components/cv/CvDocumentHost.astro";
import CvPreviewModal from "../components/cv/CvPreviewModal.astro";

const title = "CV";
---

<AppShell title={title}>
  <div data-requires-auth class="hidden"></div>
  <div data-cv-mount class="space-y-8">
    <CvPageHeader title={title} />
    <CvStatusLines />
    <CvEditorPanel />
    <CvDocumentHost />
  </div>

  <CvPreviewModal />

  <script src="../scripts/cv/cv-page.ts"></script>
</AppShell>
