---
import AppShell from "../layouts/AppShell.astro";
import LandingBackground from "../components/landing/LandingBackground.astro";
import LandingHeroGrid from "../components/landing/LandingHeroGrid.astro";
import LandingDevStripAndFlow from "../components/landing/LandingDevStripAndFlow.astro";
import LandingTodayAvailable from "../components/landing/LandingTodayAvailable.astro";
import LandingFacetsCarousel from "../components/landing/LandingFacetsCarousel.astro";
import LandingHowFaq from "../components/landing/LandingHowFaq.astro";
import LandingWorkflowCta from "../components/landing/LandingWorkflowCta.astro";
import LandingChartsPreview from "../components/landing/LandingChartsPreview.astro";
import LandingToolsShowcase from "../components/landing/LandingToolsShowcase.astro";
import LandingPageStyles from "../components/landing/LandingPageStyles.astro";
---

<AppShell title="SkillAtlas">
  <section
    data-landing-root
    class="relative left-1/2 w-screen max-w-[100vw] -translate-x-1/2 overflow-x-clip text-gray-900 dark:text-gray-100"
  >
    <LandingBackground />
    <div
      class="relative z-10 max-w-screen-2xl mx-auto w-full px-4 sm:px-6 lg:px-8 py-10 md:py-14 space-y-18"
    >
      <LandingHeroGrid />
      <LandingDevStripAndFlow />
      <LandingTodayAvailable />
      <LandingFacetsCarousel />
      <LandingChartsPreview />
      <LandingToolsShowcase />
      <LandingHowFaq />
      <LandingWorkflowCta />
    </div>
  </section>

  <LandingPageStyles />
  <script src="../scripts/landing/landing-page.ts"></script>
  <script src="../scripts/landing/landing-facets-carousel.ts"></script>
  <script src="../scripts/landing/landing-charts-preview.ts"></script>
  <script src="../scripts/landing/landing-tools-showcase.ts"></script>
</AppShell>
